body {
  background-image: url('http://www.nasa.gov/sites/default/files/iss040e090540.jpg');
  background-size: cover;
}
.container {
  display: grid;
}

.header {
  text-align: center;
  color: white;
  cursor: default;
}
.header h1 {
  font-family: 'Megrim', cursive;
  font-size: 7rem;
  color: #ffdab3;
  text-shadow: 5px 5px 15px #7575a3;
}
.header h3 {
  font-family: 'Offside', cursive;
  font-size: 1.3rem;
  color: #9494b8;
}
